/* //////////////// MINIMAL RESET \\\\\\\\\\\\\\\\ */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

ol, ul {
  list-style: none;
}
  
html, body {
  height: 100%;
}

.wrapper {
  display: flex;
  min-height: 100%;
  justify-content: center;
}

.top-navbar {
  display: flex;
  margin-top: 40px;
  justify-content: space-evenly;
  height: 50px;
  width: 100%;
}

.top-navbar-section {
  display: flex;
  height: 50px;
  border-radius: 100px;
}

.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.switch-button-left {
  border-radius: 50px;
  box-shadow: 0px 0px 5px 1px rgba(45, 65, 102, 0.3);
  margin-bottom: 135px;
  margin-left: 50px;
  margin-right: 30px;
}

.switch-button-right {
  border-radius: 50px;
  box-shadow: 0px 0px 5px 1px rgba(45, 65, 102, 0.3);
  margin-bottom: 135px;
  margin-left: 30px;
  transform: scale(-1);
}

.prev .nav-ul, .next .nav-ul {
  display: flex;
  border-radius: 50px;
  padding: 10px;
}

.prev .nav-ul:hover, .next .nav-ul:hover{
  display: flex;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.prev .nav-ul:active, .next .nav-ul:active{
  display: flex;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.0);
}

.nav-ul .right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  padding-right: 5px;
}

.nav-ul .left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  padding-right: 5px;
}

.background {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  flex: 1 1 auto;
  background: radial-gradient(at bottom RIGHT, rgba(0, 255, 100, 0.2), rgba(0, 255, 100, 0.1 ), rgba(0, 255, 100, 0.05), rgba(255, 255, 255, 0.01), rgba(255, 255, 240, 0), rgba(0, 255, 255, 0.12)),
  url("./pics/noise.svg"),
  radial-gradient(at top RIGHT, rgba(255, 200, 0, 0.2), rgba(255, 200, 0, 0.1 ), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
  url("./pics/noise.svg"),
  radial-gradient(at 42.5% 70%, rgba(255, 0, 255, 0.1), rgba(255, 200, 0, 0.05 ), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
  url(./pics/noise.png) center/cover;
}

.main-section {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.top-navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.top-navbar-button .nav-a {
  color: #000;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

.top-navbar-button .nav-a:hover {
  color: #aaaaaa;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}

.top-navbar-left-section {
  display: flex;
  justify-content: center;
  width: 130px;
}

.top-navbar-right-section {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.logo-icon {
  object-fit: cover;
  fill: gray;
}

.cart-icon {
  display:flex;
  justify-content: center;
  align-items: center;
}

.profile-icon {
  object-fit: cover;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

.main-page {
  display: flex;
  align-items: end;
  margin-top: 80px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.left-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.main-bottle-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  border-radius: 10px;
}

.main-bottle-section .main-bottle-img {
  max-height: 500px;
  width: auto;
  height: auto;
}

.main-bottle-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 2px 10px 40px rgba(45, 65, 102, 0.1);
  height: 376px;
  margin-right: 50px;
}

.main-bottle-card .main-bottle-p {
  color: #3F3631;
  font-size: 24px;
  padding-top: 20px;
  margin-bottom: 13px;
}

.main-bottle-picture {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 110px;
}

.main-bottle-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 304px;
  border-radius: 10px;
}

.main-bottle-info .main-bottle-span {
  font-size: 16px;
  text-align: center;
  color: #9C8E76;
  padding-left: 34px;
  padding-right: 34px;
  line-height: 145%;
}

.main-bottle-id-price {
  display: flex;
  color: #3F3631;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.main-bottle-id-price .id-price-p {
  color: #3F3631;
  font-size: 24px;
  padding-top: 25px;
  margin-bottom: 25px;
}

.right-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-section {
  display: flex;
  flex-direction: column;
}

.search-section input {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 900;
  font-size: 56px;
  border: 0px;
  color: #3F3631;
  border-bottom: 1px solid #3F3631;
  background-color: rgba(0, 0, 0, 0.0);
  outline: none;
  padding: 0px;
  margin: 0px;
  width: 660px;
}

.search-section h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 10px 0px 10px 3px;
  color: #EB5757;
  padding-left: 48px;
}

.search-section .search-section-span {
  font-size: 20px;
  width: 560px;
  color: #9C8E76;
  margin-top: 24px;
  margin-bottom: 50px;
  padding-left: 48px;
  line-height: 145%;
}

.search-section .res-p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 500px;
  color: #9C8E76;
  margin-bottom: 212px;
  padding-left: 48px;
}

.input-section {
  display: flex;
  align-items: center;
  width: 900px;
}

.glass {
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  margin-left: 12px;
}

.small-bottles-section {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.small-bottles-section .small-bottle-img {
  max-width: 200px;
  max-height:250px;
  width: auto;
  height: auto;
}

.small-bottle-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 2px 10px 40px rgba(45, 65, 102, 0.1);
  width: 200px;
  margin-right: 50px;
}

.small-bottle-card:last-child {
  margin-right: 0px;
}

.small-bottle-card .small-bottle-p {
  color: #3F3631;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.small-bottle-card:last-child {
  border-radius: 10px 0px 0px 10px;
}

.small-bottle-info .small-bottle-span {
  font-size: 12px;
  text-align: center;
  color: #9C8E76;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 145%;
}

.small-bottle-picture {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 110px;
}

.small-bottle-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  border-radius: 10px;
}